.background  {
    background-color: #170f23;
    background-image: url('https://raw.githubusercontent.com/NTI-Gymnasiet/makerspacesc1/master/ntig-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}