.sub-counters {
    position: fixed;
    right: -200px;
    bottom: 10px;
    float: right;
    transition: all 0.5s ease-in-out;
}

.sub-container {
    font-size: 30px;
    color: #FFFFFF;
    height: 40px;
    overflow: hidden;
}

.sub-number {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 20px;
    height: 40px;
}

.sub-increase {
    animation-name: sub-increase;
    animation-duration: 0.5s;
}
.sub-increase-new {
    margin-top: -5px;
    float: left;
    animation-name: sub-increase;
    animation-duration: 0.5s;
}

.sub-decrease {
    animation-name: sub-decrease;
    animation-duration: 0.5s;
}
.sub-decrease-new {
    float: left;
    margin-top: -85px;
    animation-name: sub-decrease-new;
    animation-duration: 0.5s;
}

.sub-icon {
    filter: opacity(0);
    margin-right: 5px;
    height: 40px;
    margin-top: 5px;
    display: inline-block;
    float: left;
    transition: all 0.3s ease-in-out;
}

@keyframes sub-increase {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 40px;
    }

}@keyframes sub-increase-new {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 40px;
    }
}

@keyframes sub-decrease {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -40px;
    }
}

@keyframes sub-decrease-new {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -40px;
    }
}